<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="daryadelan.sandogh.zikey.com.daryadelan">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ZikeySplashActivity"
            android:theme="@style/Transparent">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ConfirmedCampHistoryActivity"
            android:label="@string/title_activity_confirmed_camp_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SigninActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".LoginGuestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen" />

        <receiver
            android:name=".broadcasts.SMSBroadcastReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CreateUserActivity"
            android:label="@string/title_activity_create_user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PayrollHeaderActivity"
            android:label="@string/title_activity_payroll_header"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PayrollFooterActivity"
            android:label="@string/title_activity_payroll_footer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AhkamHeaderActivity"
            android:label="@string/title_activity_ahkam_header"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AhkamFooterActivity"
            android:label="@string/title_activity_ahkam_footer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OpenedNewsActivity"
            android:label="@string/title_activity_opened_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GalleriesActivity"
            android:label="@string/title_activity_galleries"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhotoViewActivity"
            android:label="@string/title_activity_photo_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CampsActivity"
            android:label="@string/title_activity_camps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CampActivity"
            android:label="@string/title_activity_camp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CampsRequestsHistoryActivity"
            android:label="@string/title_activity_camps_requests_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfirmCampActivity"
            android:label="@string/title_activity_confirm_camp"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>